.topbar {
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1; }
  .topbar p {
    margin-bottom: 0; }
  .topbar #_desktop_user_info .type1, .topbar #_desktop_user_info .type2 {
    display: none; }
  .topbar #_desktop_user_info .type3 {
    display: block; }
  .topbar .languages-info.type1, .topbar .languages-info.type3, .topbar .languages-info.type4 {
    display: none; }
  .topbar .languages-info.type2 {
    display: block; }
  .topbar .languages-info a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 4px;
    font-size: 13px; }
  .topbar .languages-info .dropdown-menu {
    min-width: 140px; }
  .topbar #_desktop_currency_selector.type3, .topbar #_desktop_currency_selector.type2 {
    display: none; }
  .topbar #_desktop_currency_selector.type1 {
    display: block; }
  .topbar #_desktop_currency_selector a.dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    padding-left: 7px;
    font-size: 13px; }
  .topbar #_desktop_currency_selector .dropdown-menu {
    min-width: 100px; }
  .topbar .left {
    line-height: 41px; }
    .topbar .left ul {
      margin-bottom: 0; }
      .topbar .left ul li {
        display: inline-block;
        position: relative;
        color: #444; }
        .topbar .left ul li:not(:last-child) {
          margin-right: 34px; }
        .topbar .left ul li.hl {
          color: #ff8400;
          font-weight: 700; }
        .topbar .left ul li:not(:first-child)::before {
          content: "";
          height: 42px;
          width: 1px;
          background: #e1e1e1;
          position: absolute;
          left: -21px;
          top: 0; }
  .topbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .topbar .right .dropdown-menu {
      left: -21px;
      border-top: 0; }
      .topbar .right .dropdown-menu::before {
        display: none; }
    .topbar .right .addon-box {
      margin-left: 42px;
      position: relative;
      line-height: 41px; }
      .topbar .right .addon-box:not(:first-child)::before {
        content: "";
        height: 42px;
        width: 1px;
        background: #e1e1e1;
        position: absolute;
        left: -23px;
        top: 0; }
    .topbar .right .title {
      letter-spacing: 0.5px; }

.header {
  padding: 32px 0; }
  .header .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header #jms_ajax_search .searchbox::before {
    display: none; }
  .header #ajax_search {
    height: 47px;
    border-color: #ff4c65;
    border-radius: 30px 0 0 30px;
    padding-left: 25px;
    width: 415px; }
  .header .text-custom {
    display: block; }
  .header #cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .header #cart_block .ajax_cart_quantity {
      right: -9px;
      top: -7px; }
    .header #cart_block .cart-icon::before {
      top: -3px;
      position: relative; }
  .header .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .right p {
      margin-bottom: 0; }
    .header .right .addon-box:not(:first-child) {
      margin-left: 15px; }
    .header .right .wishlist_top.home_page {
      top: 1px;
      position: relative; }

.menu {
  background: #ff4c65; }
  .menu .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu p {
    margin-bottom: 0; }
  .menu .jms-megamenu .nav > li:first-child {
    padding-left: 0; }
  .menu .jms-megamenu .nav > li > a {
    color: #fff !important; }
  .menu .center {
    position: unset;
    text-align: left; }
  .menu #jms-vermegamenu-container {
    margin-top: 2px; }

.banner .container > .row {
  margin: 0 -1.5px; }

.banner .layout-column {
  padding: 0 1.5px; }

.banner1 .banner-content {
  max-width: 145px;
  right: 36px;
  left: auto; }
  .banner1 .banner-content .text-1 {
    font-size: 20px;
    margin-bottom: 4px; }
  .banner1 .banner-content .text-2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 15px; }
  .banner1 .banner-content .text-3 {
    font-size: 18px;
    color: #ff8400; }

.banner2 .banner-content {
  top: 31px;
  width: 100%;
  text-align: center;
  padding: 0 30px; }
  .banner2 .banner-content .text-1 {
    font-size: 22px;
    color: #000;
    margin-bottom: 18px; }
  .banner2 .banner-content .text-2 {
    font-size: 13px; }
    .banner2 .banner-content .text-2 img {
      position: relative;
      top: -2px;
      left: 1px; }

.banner3 .banner-content {
  max-width: 145px;
  left: 36px;
  text-align: right; }
  .banner3 .banner-content .text-1 {
    font-size: 20px;
    margin-bottom: 4px; }
  .banner3 .banner-content .text-2 {
    color: #000;
    font-size: 22px;
    margin-bottom: 15px; }
  .banner3 .banner-content .text-3 {
    font-size: 18px;
    color: #ff8400; }

.categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 2px 0; }
  .categories-wrapper:not(:last-child) {
    margin-bottom: 30px; }
  .categories-wrapper .categoy-image {
    width: 55%; }
  .categories-wrapper .c_item-info {
    width: 45%;
    padding-top: 5px;
    padding-right: 15px; }
  .categories-wrapper .child li {
    padding-bottom: 6px; }
    .categories-wrapper .child li a {
      display: block;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden; }

.banner4 .banner-content {
  left: 50px; }
  .banner4 .banner-content .text-1 {
    font-size: 18px;
    letter-spacing: 1.6px;
    margin-bottom: 5px; }
  .banner4 .banner-content .text-2 {
    font-size: 26px;
    color: #000;
    letter-spacing: 1.2px;
    margin-bottom: 22px; }
  .banner4 .banner-content .text-3 {
    font-size: 16px;
    color: #fff;
    background: #ff4c65;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 3px; }

.banner5 .banner-content {
  left: 50px;
  margin-top: -5px; }
  .banner5 .banner-content .text-1 {
    font-size: 24px;
    letter-spacing: -0.1px; }
  .banner5 .banner-content .text-2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .banner5 .banner-content .text-3 {
    font-size: 16px;
    color: #fff;
    background: #ff4c65;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 3px; }

.jms-row.best_seller .product-carousel2 {
  padding-top: 39px; }
  .jms-row.best_seller .product-carousel2 .owl-item .flex-box.product-box::after {
    height: 155px; }

.jms-row.best_seller .product-box .flexbox {
  width: 57%; }

.jms-row.best_seller .product-preview .flexbox + .product-info {
  width: 43%;
  padding-left: 0;
  padding-right: 25px; }

.jms-row.best_seller .categoryname {
  display: none; }

.cat-name-no-cs {
  font-family: PT Sans; }

.categories-carousel2-no-carousel .categories-wrapper .c_item-info {
  padding-right: 0; }

#newsletter_block_left {
  padding: 0 100px; }
  #newsletter_block_left .addon-title h3 {
    border-bottom: 0; }
  #newsletter_block_left .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #newsletter_block_left .textnews_h1 > span {
    margin-top: 4px;
    display: block;
    letter-spacing: 0.2px;
    max-width: 365px;
    line-height: 1.85; }
  #newsletter_block_left .news_content {
    margin-top: 16px; }

.newsletter #social_block a {
  border: 0; }

.newsletter .addon-box:first-child {
  background: url("../img/h1-newsletter-bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 47px 0 74px; }

.newsletter #social_block {
  position: absolute;
  left: 115px;
  bottom: 40px; }
  .newsletter #social_block a {
    font-size: 22px;
    background: transparent;
    width: auto;
    margin-right: 20px; }

.page-index #footer {
  margin-top: 35px; }

#footer {
  background: #f9f9f9; }

@media (max-width: 1199px) {
  .jms-megamenu .nav > li {
    padding: 0 12px; } }

@media (max-width: 991px) {
  .header {
    padding: 15px 0; }
    .header .container > .row {
      display: block; }
    .header .left .addon-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .header .center {
      padding-top: 15px;
      padding-bottom: 15px; }
    .header .right {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  #mobile-vermegamenu {
    width: 100%; }
  .menu {
    padding: 2px 0; }
  .view-all.link {
    margin-left: 20px; }
  .footer_b .left {
    text-align: center;
    margin-bottom: 20px; } }

@media (max-width: 991px) and (min-width: 768px) {
  .banner1 .banner-content {
    right: 15px; }
    .banner1 .banner-content .text-1 {
      font-size: 16px; }
    .banner1 .banner-content .text-2 {
      font-size: 17px; }
    .banner1 .banner-content .text-3 {
      font-size: 14px; }
  .banner2 .banner-content {
    top: 15px; }
    .banner2 .banner-content .text-1 {
      font-size: 14px; }
  .banner3 .banner-content {
    left: 15px; }
    .banner3 .banner-content p {
      font-size: 16px !important; }
  .banner4 .banner-content {
    left: 20px; }
    .banner4 .banner-content .text-1 {
      font-size: 15px; }
    .banner4 .banner-content .text-2 {
      font-size: 18px; }
    .banner4 .banner-content .text-3 {
      font-size: 14px; }
  .banner5 .banner-content {
    left: 20px; }
    .banner5 .banner-content .text-1, .banner5 .banner-content .text-2 {
      font-size: 16px; }
    .banner5 .banner-content .text-3 {
      font-size: 14px; }
  .big_save .addon-box ul {
    margin-left: 20px; }
    .big_save .addon-box ul li {
      font-size: 16px; } }

@media (max-width: 767px) {
  #newsletter_block_left {
    padding: 0 30px; }
  .newsletter #social_block {
    left: 45px; }
  .banner1, .banner2, .banner4 {
    margin-bottom: 15px; }
  .jmsflashsales .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .jmsflashsales .title .flashsales-countdown {
      margin-left: 0;
      margin: 10px 0; }
  .big_save .addon-box ul {
    margin: 0;
    text-align: center; }
    .big_save .addon-box ul li.code {
      margin: 0;
      margin-top: 15px; }
  .best_seller .product-carousel2 {
    padding-top: 80px !important; }
  .best_seller .categories-carousel2-no-carousel {
    text-align: left;
    width: calc(100% - 30px);
    top: 45px;
    left: 15px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    z-index: 9; }
    .best_seller .categories-carousel2-no-carousel .block_category {
      margin-left: 0;
      margin-right: 24px; }
  .best_seller .view-all.link {
    margin-left: 0; } }

@media (max-width: 481px) {
  #newsletter_block_left .form-group {
    display: block; }
  #newsletter-input {
    width: 100%; }
  .newsletter-btn {
    width: 100%;
    margin: 0;
    height: 40px;
    margin-top: 15px; }
  .best_seller .categories-carousel2-no-carousel .categories-wrapper .c_item-info {
    padding-right: 0;
    width: 100%; }
  .best_seller .categories-carousel2-no-carousel .block_category {
    display: block; }
  .banner1 .banner-content {
    right: 15px; }
    .banner1 .banner-content .text-1 {
      font-size: 16px; }
    .banner1 .banner-content .text-2 {
      font-size: 17px; }
    .banner1 .banner-content .text-3 {
      font-size: 14px; }
  .banner2 .banner-content {
    top: 15px; }
    .banner2 .banner-content .text-1 {
      font-size: 14px; }
  .banner3 .banner-content {
    left: 15px; }
    .banner3 .banner-content p {
      font-size: 16px !important; }
  .banner4 .banner-content {
    left: 20px; }
    .banner4 .banner-content .text-1 {
      font-size: 15px; }
    .banner4 .banner-content .text-2 {
      font-size: 18px; }
    .banner4 .banner-content .text-3 {
      font-size: 14px; }
  .banner5 .banner-content {
    left: 20px; }
    .banner5 .banner-content .text-1, .banner5 .banner-content .text-2 {
      font-size: 16px; }
    .banner5 .banner-content .text-3 {
      font-size: 14px; }
  .big_save .addon-box ul {
    padding: 0 20px; }
    .big_save .addon-box ul li {
      font-size: 16px; } }
